# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
venv/

# PyTorch / ML
*.pt
*.pth
*.ckpt

# Dataset (don’t upload large images)
datasets/
BLACK SIGATOKA_1/
HEALTHY_1/
Inference/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
